
@{
    ViewBag.Title = "ActualizarAgente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Agente/Actualizar" method="post">
    <div class="card border-success mx-auto" style="max-width: 600px;">
        <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Actualizar Agente</h5>
            <button onclick="location.href = '@Url.Action("Agente", "Agente")'; return false;" class="btn btn-outline-light btn-sm">Regresar</button>
        </div>

        <div class="card-body bg-light">
            <div class="mb-3">
                <label for="officer_id" class="form-label">ID Agente</label>
                <input value="@Model.Tables[0].Rows[0]["officer_id"].ToString()" type="text" class="form-control" disabled />
                <input type="hidden" name="officer_id" value="@Model.Tables[0].Rows[0]["officer_id"].ToString()" />
            </div>

            <div class="mb-3">
                <label for="full_name" class="form-label">Nombre del Agente</label>
                <input value="@Model.Tables[0].Rows[0]["full_name"].ToString()" type="text" required class="form-control" id="full_name" name="full_name" />
            </div>

            <div class="mb-3">
                <label for="id_number" class="form-label">Identificación Agente</label>
                <input value="@Model.Tables[0].Rows[0]["id_number"].ToString()" type="text" required class="form-control" id="id_number" name="id_number" />
            </div>

            <div class="mb-3">
                <label for="rank_level" class="form-label">Nivel de Rango</label>
                <input value="@Model.Tables[0].Rows[0]["rank_level"].ToString()" type="text" required class="form-control" id="rank_level" name="rank_level" />
            </div>

            <div class="mb-3">
                <label for="created_at" class="form-label">Fecha de Agente</label>
                <input value="@Model.Tables[0].Rows[0]["created_at"].ToString()" type="text" class="form-control" disabled />
                <input type="hidden" name="created_at" value="@Model.Tables[0].Rows[0]["created_at"].ToString()" />
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success" onclick="validarGuardadoAgente();">Guardar</button>
            </div>
        </div>
    </div>
</form>

